<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683145672162-nfv7tagmfadilfsd21ovjpc2aioi4s55.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683145672162-nfv7tagmfadilfsd21ovjpc2aioi4s55</string>
	<key>API_KEY</key>
	<string>AIzaSyCD7XtsSPu74RrluzG28jsd0Y0e_IoF37w</string>
	<key>GCM_SENDER_ID</key>
	<string>683145672162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.usc.netid.Stock-Shop</string>
	<key>PROJECT_ID</key>
	<string>stock-shop-8d4bf</string>
	<key>STORAGE_BUCKET</key>
	<string>stock-shop-8d4bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683145672162:ios:aa6cec9508e010c3b1f5bb</string>
</dict>
</plist>